@model IEnumerable<DATN.Entities.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserldNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserldNavigation.Userld)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Doctorld">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Doctorld">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Doctorld">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
